:root {
    --sdo-main-color: #5D3FD3;
}
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.flex-center-in-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.relative {
    position: relative;
}
.sdo-header {
    flex-wrap: wrap;
    flex-direction: column;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 14px -10px #00000070;
}
.sdo-section {
    flex-wrap: wrap;
    padding: 3%;
    background: white;
    border-radius: 25px;
    min-height: 600px;
    flex-direction: row-reverse;
}
.sdo-section.rtl {
    flex-direction: row;
}
.sdo-section .tab {
    width: 30%;
    height: max-content;
}
.sdo-section .tab-information {
    padding: 25px;
    flex-direction: column;
    row-gap: 10px;
}
.sdo-section .tab-information > img {
    width: 160px;
    height: auto;
}
.sdo-section .tablinks {
    background-color: transparent;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: right;
    cursor: pointer;
    transition: 0s;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-right: 25px;
    border-right: 3px solid transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
.sdo-section .tab button.active,
.sdo-section .tab button:hover {
    border-right: 3px solid var(--sdo-main-color);
    transition: 200ms;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    box-shadow: -5px 3px 11px -2px #36454f0d;
}
.sdo-tab-titles-box {
    display: flex;
    justify-content: right;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}
.sdo-title-tab-options {
    font-size: 17px;
    font-weight: 600;
    color: #36454f;
}
.sdo-tab-content-outer {
    min-height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    row-gap: 15px;
}